@media (max-width: 1200px) {
  .review__slider-item--img {
    margin: auto;
    padding: 0;
  }
  .request-img {
    display: none;
  }
}

@media (max-width: 950px) {
  .container {
    padding: 0 10px;
  }
  .nav__item.nav__item-toggle,
  .nav__link.nav__item {
    display: none;
  }
  .header__nav {
    width: 100px;
  }
  .header__bottom-img {
    display: none;
  }
}

@media (max-width: 800px) {
  .trial__title {
    font-size: 29px;
    text-align: center;
    margin-top: 50px;
  }
  .trial__buttons {
    flex-direction: column;
    align-items: flex-start;
  }
  .trial__buttons-simple {
    width: 237px;
    font-size: 18px;
    margin-bottom: 15px;
  }
  .trial__benefits {
    align-items: center;
  }
  .trial__lightnings {
    flex-direction: column;
  }
  .trial__lightning {
    margin-bottom: 20px;
  }
  .stages__title,
  .reviews__title,
  .control__title,
  .contacts__title {
    font-size: 35px;
    text-align: center;
  }
  .stages__timeline {
    display: flex;
    justify-content: center;
  }
  .stages__timeline-line {
    height: 600px;
    width: 3px;
    flex-direction: column;
  }
  .stages__timeline-top {
    flex-direction: column;
    margin: 0;
    margin-top: 70px;
    margin-right: 40px;
  }
  .stages__timeline-bottom {
    flex-direction: column;
    margin: 0;
    margin-left: 40px;
  }
  .stages__timeline-top--word {
    padding-bottom: 120px;
    text-align: right;
  }
  .stages__timeline-bottom--word {
    padding-bottom: 120px;
  }
  .stages__timeline-top--word + .stages__timeline-top--word,
  .stages__timeline-bottom--word + .stages__timeline-bottom--word {
    margin: 0;
  }
  .courses {
    margin-top: 0;
  }
  .courses__title,
  .courses__description-title,
  .reviews__title {
    text-align: center;
  }
  .courses__description-container {
    padding: 10px;
  }
  .courses__description-benefits {
    flex-direction: column;
    align-items: center;
  }
  .courses__description-benefit + .courses__description-benefit {
    margin: 0;
    margin-top: 20px;
  }
  .courses__description-buttons {
    flex-direction: column;
    align-items: center;
  }
  .black-button {
    margin: 0;
    margin-bottom: 20px;
  }
  .courses__description-arrows {
    flex-direction: column;
    height: auto;
    width: auto;
    align-items: center;
  }
  .arrow-left {
    margin-bottom: 10px;
  }
  .arrow-left,
  .arrow-right {
    background-image: none;
    height: auto;
    width: auto;
  }
  .formats__title {
    font-size: 35px;
    line-height: 40px;
    text-align: center;
  }
  .formats__rates {
    flex-direction: column;
    align-items: center;
  }
  .formats__rate {
    margin-bottom: 50px;
  }
  .formats__rate-benefits {
    margin-bottom: 10px;
  }
  .formats__rate-container {
    margin-bottom: 30px;
  }
  .starwars {
    display: none;
  }
  .teachers__title {
    font-size: 30px;
    text-align: center;
  }
  .conrol__timeline-line {
    width: 4px;
    height: 918px;
    flex-direction: column;
  }
  .control__timeline {
    display: flex;
  }
  .control__timeline-stages {
    flex-direction: column;
  }
  .control__timeline-stage {
    text-align: left;
  }
  .request-inner {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .request__textblock {
    max-width: 340px;
    margin-bottom: 40px;
  }
  .contacts__opportunities {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .contacts__opportunity {
    margin-bottom: 30px;
  }
  .contacts__bgimg{
      display: none;
  }
  .footer__inner{
    flex-direction: column;
    align-items: center;
  }
  .footer__block{
      margin-bottom: 40px;
  }
  .footer__links{
      flex-direction: column;
  }
  .footer__menu{
      margin-bottom: 30px;
  }
  .footer__menu + .footer__menu{
      margin-left: 0;
  }
}
@media (max-width: 500px) {
  .header__bottom-title {
    font-size: 30px;
    text-align: center;
  }
  .header__bottom-text {
    text-align: center;
  }
  .teachers .slick-dots {
    padding-top: 10px;
    width: 130px;
  }
  .review__slider-item {
    height: auto;
  }
  .review__slider-item--img {
    width: 90%;
  }
  .contacts__opportunity {
    width: 100%;
    text-align: center;
  }
  .trial{
      padding-bottom: 50px;
  }
  .footer{
      padding: 50px 0;
  }
}
